@{
    ViewData["Title"] = "Movies";

}
<ul class="navbar2">
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Browse">Browse</a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Forum">Forum</a></li>
</ul>
<div class="text-center">
    <h1 class="display-4">Movies</h1>
</div>

<div class="text-center">
    <p>
        Track, Share and Discover your favourite Movies and TV Shoes with Entertainment Guild (Placeholder Name)
    </p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Join Now</a> 
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/download.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/download (1).png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/download (2).png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container-fluid py-2; wrapper">
    <h2 class="font-weight-light">Trending Now</h2>
    <div class="d-flex flex-row flex-nowrap overflow-auto">
        <div class="card card-body mx-2" style="min-width: 300px; min-height: 300px">Card</div>
        <div class="card card-body mx-2" style="min-width: 300px">Card</div>
        <div class="card card-body mx-2" style="min-width: 300px">Card</div>
        <div class="card card-body mx-2" style="min-width: 300px">Card</div>
        <div class="card card-body mx-2" style="min-width: 300px">Card</div>
        <div class="card card-body mx-2" style="min-width: 300px">Card</div>
        <div class="card card-body mx-2" style="min-width: 300px">Card</div>
    </div>
</div>